@page "/"

<PageTitle>Index</PageTitle>

<AuthorizeView>
    <NotAuthorized>
        <div class="class=" col-xs-1" aling="center">
            <h2 style="font-weight:700;  text-align: center;color:navy;font-size:50px"> :::::Star Hotel:::::</h2>
            <br />
            <a style="color:black; font-weight:500; font-size:18px;" href="Login" class="ml-md-auto">Ingresar al menú</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

<h1 style="font-weight:400;  text-align: center;"> ¡Bienvenidos! </h1>

<style>
    img {
        width: 500px;
        height: 400px;
    }
</style>

<div>
    <img src=" https://d1qiigpe5txw4q.cloudfront.net/uploads/a42c7de05349ade56ec22aede3f2d3ec/TuscanyVillaofNaples_Photos_02_Seniorly_hd.jpg" />
    <img src="  https://q-xx.bstatic.com/xdata/images/hotel/max1024x768/210532549.jpg?k=4dd7176fa139a31f3f89fe52e7812bef58db21919a456a9ad70ca29bda026ac7&o=" />
    <img src="https://ac-q.static.booking.cn/images/hotel/max1280x900/874/87426481.jpg">
    <img src="http://4.bp.blogspot.com/-IbGw-bmtoQ4/U-0uW7MhA9I/AAAAAAAABJU/UUBtfD53e6k/s1600/luxurious-hotel.jpg" />

</div>


