<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Hotel</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">

        <AuthorizeView Roles="Administrador, Usuario">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="color:black" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" style="color:mediumaquamarine" aria-hidden="true"></span> Inicio
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="color:black" href="Usuarios">
                        <span class="oi oi-people" style="color:dodgerblue" aria-hidden="true"></span> Usuarios
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador, Usuario">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="color:white" href="Clientes">
                        <span class="oi oi-person" style="color:lightsalmon" aria-hidden="true"></span> Clientes
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="color:white" href="Habitaciones">
                        <span class="oi oi-box" style="color:mediumspringgreen" aria-hidden="true"></span> Habitaciones
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador, Usuario">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="color:black" href="NuevaFactura">
                        <span class="oi oi-layers" style="color:yellow" aria-hidden="true"></span> Reservaciones
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>

        <AuthorizeView Roles="Administrador">
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" style="color:black" href="Facturas">
                        <span class="oi oi-dollar" style="color:green" aria-hidden="true"></span> Facturas
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
    </nav>
</div>


@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
